<div class="container mx-auto">
  <h1 class="text-center font-bold leading-normal font-sans text-5xl antialiased ">Join a chess game</h1>
</div>
<div class="md:container md:mx-auto mt-8">
  <div class="grid grid-cols-5 gap-8 ">
  <div class="col-start-2">
    <form class="form" name="form" novalidate data-ng-submit="joinGame(form)">
      <input class="form" name="selectedAccount" type="hidden" data-ng-model="accounts.selectedAccount" required />
      <button class="form" data-ng-click="accounts.selectOrCreateAccount($event)" class="small">Select account</button>
      <div
        class="selectedAccount"
        data-ng-show="accounts.selectedAccount"
        data-ng-style="accounts.getBlockie(accounts.selectedAccount)">
        {{accounts.selectedAccountName}}
      </div>

      <div data-ng-show="form.$submitted || form.selectedAccount.$touched">
        <div class="error" data-ng-show="form.selectedAccount.$error.required">Please select an account.</div>
      </div>

      <span data-ng-show="accounts.selectedAccount">Balance: {{accounts.getBalance(accounts.selectedAccount)}}</span><br>
      <span data-ng-show="accounts.selectedAccount">Elo Score: {{accounts.getEloScore(accounts.selectedAccount)}}</span><br>
<br>
      <label class="form" for="username">Username</label>
      <input class="form" id="username" type="text" name="username" data-ng-model="username" style="color:#000" required>
      <div data-ng-show="form.$submitted || form.username.$touched">
        <div class="error" data-ng-show="form.username.$error.required">Please enter a username.</div>
      </div>

      <input name="gameId" type="hidden" data-ng-model="gameId" required />
      <div data-ng-show="form.$submitted || form.gameId.$touched">
        <div class="error" data-ng-show="form.gameId.$error.required">Please select a game.</div>
      </div>

      <input class="form" type="submit" value="Join game" />
    </form>
  </div>

  <div class="col-start-3 col-span-4 mr-10">
    <table class="table-fixed">
      <thead>
        <tr>
          <th>Opponent</th>
          <th>Color</th>
          <th>Turntime (minutes)</th>
          <th>Bet (ether)</th>
          <th>Elo Score</th>
          <th></th>
        </tr> 
      </thead>
      <tbody>
        <tr data-ng-repeat="game in games | othersOpenGames:openGames"
            data-ng-class="{selected: isSelectedGame(game)}">
          <td>{{game.self.username}}</td>
          <td>{{game.self.color}}</td>
          <td>{{game.turnTime}}</td>
          <td>{{game.pot}}</td>
          <td>{{accounts.getEloScore(game.self.accountId)}}</td>
          <td><a href="#" data-ng-click="setSelectedGame($event, game)">Select</a></td>
        </tr><!-- | orderBy:predicate:reverse-->
      </tbody>
    </table>
    <br>
    <br>
    <p><strong>Join a running chess game by following these simple steps:</strong></p>
    <ul class="list-disc list-inside">
      <li>Select the account to use, enter your username and select the start color</li>
      <li>Choose a game from the list to start the game</li>
      <li>Your request is being submitted to the blockchain. When the join was successful,
        the game will appear with the opponents username in the nav bar.</li>
      <li>Start playing by selecting the game</li>
    </ul>
  </div>
</div>
</div>
