<div class="container space-top">
  <h1>Play Crypro Chess</h1>
  <p>With Crypto-chess, you can play a game of chess on the Ethereum blockchain Network. This means that all moves will be verified independently and publicly documented on blockchain network to makes cheating impossible. </p>
  <div class="newbutton">
    <button data-ng-click="navigation.goto(navigation.initializeGamePage)" class="one ">Start new game</button>
    <button data-ng-click="navigation.goto(navigation.joinGamePage)" class="two ">Join game</button>
  </div>
</div>
